@font-face {
  font-family: roboto-bold;
  src: url(fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4.75fr;
  grid-template-rows: 1fr 4.75fr;
  gap: 4px;

  grid-template-areas: 
  "sidebar header"
  "sidebar main-content";

  text-align: center;
}

.sidebar {
  grid-area: sidebar;

  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 8% repeat(9, 5%) ;
  /* align-items: center; */

  background-color: rgb(26, 146, 211);
  font-family: roboto-bold;
  color: white;
}

.sidebar-icon,
.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-icon {
  justify-content: center;
}

#dashboard-link {
  font-size: 30px;
}

.sidebar-link {
  justify-items: start;

  font-size: 20px;
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main-content;
}