* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4.75fr;
  grid-template-rows: 1fr 4.75fr;
  gap: 4px;

  grid-template-areas: 
  "sidebar header"
  "sidebar main-content";

  text-align: center;
}

.sidebar {
  grid-area: sidebar;

  background-color: rgb(69, 144, 206);
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main-content;
}